

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
body { padding-top: 50px; padding-bottom: 20px; }
.container.main{padding-top: 40px;}

table td{cursor: pointer;}

.m-occupied{background-color: #4843c4; color:#fff;}














